@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Yaldevi:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

header {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #f8f8f8;
}

.header-1 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menu-items {
  width: 700px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  font-size: 20px;
}

/* Section-1 */
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bg-1 {
  background-image: url(./Assets/image\ 15.png);
  width: 1090px;
  height: 613px;
  flex-shrink: 0;
  margin: 30px 0;
}

.content-1 {
  width: 1050px;
  height: 404px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.82);
  position: absolute;
  right: 0;
  gap: 30px;
}

.content-1 p {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.content-1 h1 {
  color: #241330;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

#speak {
  width: 630px;
  height: 96px;
  flex-shrink: 0;
  background: #4b2a63;
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 80px;
  margin: 50px 0;
}

.section-2 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 1200px;
}

.section-2 li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  text-align: center;
}

/* section-3 */

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.content-3 {
  width: 898px;
  height: 808px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.82);
  position: absolute;
  left: 0;
}

.section-3 img {
  width: 1386px;
  height: 924px;
  flex-shrink: 0;
}

.content-3 h2 {
  color: #4b2a63;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
